/* ====================================
// css variables
// ==================================== */

:root {
  --main-color: #fff;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  background-color: black;
  margin: auto;
  color: var(--main-color);
  font-family: "rubik";
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  margin: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
}

.logo {
  position: relative;
  width: 440px;
}

.eyes {
  position: absolute;
  top: 95px;
  left: 181px;
  width: 185px;
}

h1 {
  transform: translateX(-20px);
  margin: auto;
  font-family: "rubik";
  font-size: 266px;
  letter-spacing: -32.21px;
  line-height: 219px;
}

h2 {
  font-style: italic;
  font-size: 72px;
  letter-spacing: -2.71px;
  line-height: 60px;
}

p {
  font-style: italic;
  font-size: 24px;
  letter-spacing: -0.9px;
  line-height: 28px;
  margin: 5px 0;
}

.button {
  text-align: center;
  font-family: Rubik-BlackItalic;
  font-size: 55px;
  letter-spacing: -2.07px;
  line-height: 65px;
}
